

@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

body{

  background-image: url('https://i.redd.it/6oyau6he3su61.png');
  background-size: cover;
  
  
}
a{
  font-family: 'Stalinist One', cursive;
}
h3{
  font-family: 'Stalinist One', cursive;
  color:white;

}
h1{
  font-family: 'Stalinist One', cursive;
  color:white;
}
.navbar-brand{
  font-family: 'Stalinist One', cursive;

}
#outputDiv{
  display:none;
}